@(message: String) 
@Main("anastasia") {
   <div class="container">
     <div class="row">
        <div class=col-md-4>
            <div class="well">
                <div class="anastasia"></div>
            </div>
        </div>
        <div class=col-md-8>
            <div class="well">
                <h1>Anastasia Ashley</h1>
                <p>There’s “hot” hot and there’s “red-hot-and-I-know-it” hot. Consider 21-year old LA-based surfer girl Anastasia Ashley the latter. Anastasia, who plans to surf all the women’s WQS she can this year, has her own signature shoe line with Airwalk and is getting to work on an as of yet untitled film project. In between shoes, films, and shredding, Anastasia has been spending a lot of time with Hulk Hogan’s son, Nick, whom she calls her best friend and her biggest fan. The pair were recently stalked by the paparazzi at the Sundance Film Festival and their photo appeared in Star Magazine with the fitting title, “Nick’s New Surfer Babe.” Selfishly, we want Anastasia to make the World Championship Tour just to see who wears a smaller bikini—her or Alana Blanchard.</p>
            </div>
        </div>
     </div>
   </div>
}
