@(message: String) 
@Main("Home") {
   <div class="container">
     <div class="row">
        <div class=col-md-4>
            <div class="well">
                <div class="bill"></div>
            </div>
        </div>
        <div class=col-md-8>
            <div class="well">
                <h1>Bill Hamilton</h1>
                <p>was born in Long Beach, California, where he and his half-brother, Gordon, surfed SouthLaguna Beach. In 1959, Hamilton was riding a Hobie double-ender, anywhere from Rincon to Baja. Winning the Junior Division of theBrooks Street Classic in 1963 earned Hamilton membership into the prestigious Windansea Surf Club. He joined them for the annual Makaha Championships the following year. In 1966, he returned to Hawaii and was acknowledged as one of the most popular surfers around, placing sixth in the Surfer Poll. The young filmmaking duo of MacGillivray/Freeman chose him to co-star with Mark Martinson in two monumental films, Free and Easy andSunshine Sea. He placed second at both the Smirnoff and Duke, in 1970. But, family took priority and he soon left the scene behind.</p>
            </div>
        </div>
     </div>
   </div>
}
